*.py[co]
*.swp
.DS_Store
.swp
.sass-cache
.sqlite
.mo
.svn
.git
.orig

/.project
/.pydevproject
/.settings

/build
/bower_components
/node_modules
/db.sqlite
/htdocs/media
/htdocs/static
/settings.py
