[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dinbrief = "*"
django-admin-tools = "*"
unicodecsv = "*"
"pypdf2" = "*"
django-taggit = "*"
django-localflavor = "*"
django-countries = "*"
djangorestframework = "*"
python-magic = "*"
wand = "*"
django-hashedfilenamestorage = {editable = true, ref = "ac931591d0f0976d0ec3a96be095fea4d70f82fb", git = "https://github.com/bikeshedder/django-hashedfilenamestorage.git"}

[dev-packages]

[requires]
python_version = "3.6"
