<header class="navbar bg-base-300">
    <nav class="flex-1">
        <a href="{% url 'base:index' %}" class="btn btn-ghost text-2xl">SHARQUE</a>
        {% if tenant %}
        <ul class="ml-10 flex gap-4">
            <a href="{% url 'tenant:index' tenant.slug %}" class="flex items-center">
                <h2 class="text-xl font-bold">{{ tenant.name }}</h2>
            </a>
            {% if project %}
            <p class="text-3xl">•</p>
            <a href="{% url 'project:index' tenant.slug project.pk %}" class="flex items-center">
                <h2 class="text-xl font-bold">{{ project.name }}</h2>
            </a>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    <div class="flex-none self-center">
        <div class="dropdown-end dropdown">
            <div tabindex="0" role="button" class="avatar btn btn-circle btn-ghost">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                </div>
            </div>
            <ul tabindex="0" class="menu dropdown-content menu-lg z-[1] mt-3 w-52 rounded-box bg-base-200 p-2 shadow">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button role="menuitem" type="submit">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</header>
