{% extends "base/site.html" %}
{% load static heroicons %}

{% block content %}
<div class="grid h-full grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-rows-2">
    <div class="col-span-3 flex flex-col rounded-tl border border-base-300 p-4 2xl:col-span-1">
        <p>Some data points...</p>
    </div>
    <div class="relative col-span-3 row-span-2 flex flex-col rounded-r border border-base-300 p-4 2xl:col-span-2">
        <div id="tasks" class="flex flex-wrap items-start gap-4">
            {% for task in tasks %}{% include 'project/partials/task-list-entry.html' with data=task %}{% endfor %}
        </div>
        <div class="mt-auto flex w-full" x-data="{ 'open': false }">
            <button @click="open = !open" class="btn btn-primary ml-auto">Add task</button>
            {% include 'project/partials/task-create.html' %}
        </div>
    </div>
    <div id="report-wrapper" class="col-span-3 flex flex-col gap-2 overflow-hidden rounded-bl border border-base-300 p-4 shadow-md 2xl:col-span-1">
        <div
            hx-get="{% url 'project:daily-report' tenant.slug project.id %}"
            hx-trigger="change, task-removed from:body, task-added from:body, task-changed from:body"
            hx-target="#report"
            hx-include="this"
            hx-on::after-request="if (event.detail.successful) {
                const val = document.querySelector('#id_date').value
                const url = new URL(window.location.href);
                url.searchParams.set('date', val);
                window.history.replaceState(null, '', url.toString());
            }"
            class="flex justify-between"
        >
            <h2 class="flex p-2 text-2xl font-bold">Daily Report <a href="{% url 'tenant:timesheet' tenant.slug %}?project={{ project.id }}" class="ml-2 transition-colors hover:text-primary">{% heroicon_solid "arrow-up-right" size=20 %}</a></h2>
            {{ report_date_form.date }}
        </div>
        <div id="report" class="h-full overflow-hidden">
            {% include 'project/partials/daily-report-form.html' with data=report_form %}
        </div>
    </div>
</div>
{% endblock content %}
