{% extends "base.html" %}
{% load i18n %}

{% block main %}

<h1>{% trans "Create issue" %}</h1>

<form class="ui form">
	<div class="field">
		<label>{% trans "Summary" %}</label>
		<input type="text" name="summary">
	</div>

	<hr>

	<h3>Description</h3>

	<div class="field">
		<label>{% trans "Text" %}</label>
		<textarea name="Text"></textarea>
	</div>

	<h3>Attachments</h3>

	<div class="field">
		<label>{% trans "File" %}</label>
		<input type="file" name="attachment">
	</div>
</form>
{% endblock %}
