{% extends "admin/change_list.html" %}

{% block javascripts %}
{{ block.super }}
{% include 'base/includes/js_parse_short_date.html' %}

<script type="text/javascript">
    (function($) {
        $(document).ready(function($) {
            const today = new Date().setHours(0,0,0,0).valueOf()
            const rows = $("#result_list .grp-row");
            rows.each(function() {
                const dueByTd = $(this).find(".field-due_by")
                const finishedAt = $(this).find(".field-finished_at").text()
                const dueBy = dueByTd.text()
                {% comment %}
                "Due date is set and task is not finished => check for overdue tasks"
                {% endcomment %}
                if (dueBy !== "-" && finishedAt === "-") {
                    const dueDate = parseShortDate(dueBy).valueOf()
                    if (dueDate === today) {
                        $(dueByTd).css("background-color", "yellow")
                    } else if (dueDate < today) {
                        $(dueByTd).css("background-color", "red")
                    }
                }
            })
        });
    })(grp.jQuery)
</script>
{% endblock %}
