{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}

{% block module_content %}
<h3>{% trans "Overdue invoices" %}</h3>
<table style="width:100%;">
<thead>
<tr>
  <th>{% trans "Overdue since" %}</th>
  <th style="width:2em;">{% trans "Count" %}</th>
  <th style="width:2em;">{% trans "Link" %}</th>
</tr>
</thead>
<tbody>
  <tr>
    <th style="color:#006600;">{% trans "less than 14 days" %}</th>
    <td>{{ module.invoices.unpaid_lt14d|length }}</td>
    <td><a href="/admin/billing/invoice/?paid__isnull=True&created__gt={{ module.two_weeks_ago|date:"Y-m-d" }}">{% trans "show" %}</a></td>
  </tr>
  <tr>
    <th style="color:#f88017;">{% trans "more than 14, less than 30 days" %}</th>
    <td>{{ module.invoices.unpaid_gt14d|length }}</td>
    <td><a href="/admin/billing/invoice/?paid__isnull=True&created__lt={{ module.two_weeks_ago|date:"Y-m-d" }}&created__gte={{ module.thirty_days_ago|date:"Y-m-d" }}">{% trans "show" %}</a></td>
  </tr>
  <tr>
    <th style="color:#660000;">{% trans "more than 30 days" %}</th>
    <td>{{ module.invoices.unpaid_gt30d|length }}</td>
    <td><a href="/admin/billing/invoice/?paid__isnull=True&created__lt={{ module.thirty_days_ago|date:"Y-m-d" }}">{% trans "show" %}</a></td>
  </tr>
  <tr>
    <th>{% trans "Sum" %}</th>
    <td>{{ module.invoices.unpaid|length }}</td>
    <td><a href="/admin/billing/invoice/?paid__isnull=True">{% trans "show" %}</a></td>
  </tr>
</tbody>
</table>

{% endblock %}
