{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}

{% block module_content %}
<table style="width:100%;">
<thead>
	<tr>
		<th>{% trans "Item count" %}</th>
		{#<th style="width:8em;">{% trans "Invoice" %}</th>#}
		<th style="width:6em;">{% trans "Show" %}</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td style="text-align:center;">{{ module.item_count }}</td>
		{#<td><a href="{{ module.invoice_url }}">{% trans "Invoice" %}</a></td>#}
		<td style="text-align:center;"><a href="{{ module.list_url }}">{% trans "Show" %}</a></td>
	</tr>
</tbody>
</table>

<ul style="margin: 1em 0 0.5em 0;">
	<li style="text-align:right; margin-right: 1em;"><a href="{% url 'billing_admin:import_items' %}">{% trans "Import items" %}</a></li>
</ul>

{% endblock %}
