{% extends "admin/change_list.html" %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript">
    (function($) {
        $(document).ready(function($) {
            const inputElements = $(".field-is_selected").find("input")
            inputElements.on("change", function(e) {
                const changedElement = $(this)
                inputElements.each(function() {
                    if (!changedElement.is($(this))) $(this).prop("checked", false)
                })
            });
        });
    })(grp.jQuery)
</script>
{% endblock %}
